extends partials/templates/_template.pug

block content
  +b.SECTION.page--404

    // Content
    +b.SECTION.content
      .container
        +e.H1.title 404
        +e.text
          p Страница не найдена




