extends partials/templates/_template.pug

block content
  +b.SECTION.page--about

    // Content
    +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
      .container
        +e.H1.title(itemprop="headline") О компании
        .row
          .col-xs-12.col-lg-6        
            +e.img
              img(src="img/about1.jpg", alt="about", title="about")
            +e.citation Мы гарантируем качество своей работы
          .col-xs-12.col-lg-6
            +e.text(itemprop="articleBody")
              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
              p Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    // Statistics
    include partials/components/_statistics.pug 
    // Facts
    include partials/components/_facts.pug 
    // Globe
    include partials/components/_globe.pug 



