.advantages{
  padding-top: 75px;
  padding-bottom: 50px;
  background-color: $dark-cyan;
  color: $text-color-white;
  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $text-color-white;
    margin: 0 0 50px;
    @include mq($from:xs, $until:lg){
      font-size: $font-size-biggest;
    }   
  }
}

.advantage{
  padding-bottom: 45px;
  &__img{
    margin-left: 50px;
    position: relative;
    svg{
      fill: $blue-svg;
    }
    &--consult{
      svg{
        width: 63px;
        height: 63px;
      }
    }
    &--manager{
      svg{
        width: 59px;
        height: 64px;
      }
    }
    &--experience{
      svg{
        width: 76px;
        height: 62px;
      }
    }
    &--shipping{
      svg{
        width: 67px;
        height: 67px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      left: -10px;
      @include sprite($s-red-check);
    }
  }
  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-bigger;
    color: $text-color-white;
    margin: 20px 0 20px;
    @include mq($from:xs, $until:lg){
      font-size: $font-size-big;
    }   
  }

}