.branches{
  padding-top: 35px;
  padding-bottom: 50px;
  border-bottom: 2px solid $border-grey;
  background-color: $pale;
  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $cyan;
    margin: 0 0 35px;
    @include mq($from:xs, $until:lg){
      font-size: $font-size-biggest;
    }   
  }
}

.branch{
  display: flex;
  &__link{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    background-color: $white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);
    padding: 35px 15px;
    width: 100%;
  }
  &__icon{
    svg{
      height: 65px;
      width: auto;
      fill: $text-blue-services;
    }
  }
  &__name{
    margin-top: 10px;
    @include font-family('Open Sans Bold', normal, normal);
    color: $text-blue-services;
  }
}


