.cert-form{
  &__block{
    margin: 50px 0;
    @include mq($from:xs, $until:lg){
      margin: 30px 0;
    }
  }

  &__title{
    font-size: $font-size-supertitle;
    @include font-family('Open Sans Bold', normal, normal);
    color: $cyan;
    margin: 0 0 10px;
    @include mq($from:lg, $until:xl){
      font-size: $font-size-title;
    }
    @include mq($from:xs, $until:lg){
      font-size: $font-size-biggest;
    }
  }
  &__text{
    font-size: $font-size-subsupertitle;
    @include mq($from:xs, $until:xl){
      font-size: $font-size-big;
    }
  }
  &__form{
    margin: 65px 0 65px;
    padding-bottom: 45px;
    @include mq($from:xs, $until:lg){
      margin: 30px 0;
    }
  }
}

