.form{
  &__title{
    text-align: center;
    margin: 0 0 20px;
    @include font-family('Open Sans Semibold', normal, normal);  
    font-size: $font-size-big;
  }
  &__input{
    border-radius: 3px;
    background-color: $white;
    padding: 10px 15px;    
    width: 100%;
    border: 1px solid $border-grey;
    outline: none;
    margin-bottom: 20px;
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
    &:nth-of-type(2){
      margin-bottom: 0;
    }
    &:nth-of-type(3){
      margin-bottom: 0;
    }
  }
  &__textarea{
    border-radius: 3px;
    background-color: $white;
    padding: 10px 15px;    
    width: 100%;
    border: 1px solid $border-grey;
    outline: none;
    margin-bottom: 20px;
    vertical-align: top;
    height: 100px;
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  } 
  &__select{
    border-radius: 3px;
    background-color: $white;
    padding: 10px 15px; 
    width: 100%;
    border: 1px solid $border-grey;;
    outline: none;
    margin-bottom: 20px;
  }
  &__description{
    font-size: $font-size-small;
    margin-bottom: 20px;
  }
  .form-group{
    &:nth-of-type(2){
      .form__input{
        margin-bottom: 0;
      }
    }
    &:nth-of-type(3){
      .form__input{
        margin-bottom: 0;
      }
    }
  }




  &--application{    
    border-radius: 3px;
    background-color: $lightest-grey;
    padding: 20px;
    border: 1px solid $border-grey;
  }
  
  &--question{
    form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 400px;
      @include mq($from:xs, $until:sm){
        max-height: initial;
      }
    }
    .form__textarea{
      height: 178px;
    }
    .form-group{
      margin: 0 20px;
    }


    // form{
    //   columns: 2;
    //   column-gap: 40px;
    //   @include mq($from:xs, $until:sm){
    //     columns: 1;
    //   }
    // }
    // .form-group{
    //   display: inline-block;  /* preventing from columns parts shifting */
    //   vertical-align: top;    /* preventing from columns parts shifting */
    //   width: 100%;            /* preventing from columns parts shifting */
    // }
    // .form__input, .form__textarea, .form__select{
    //   margin-bottom: 25px;
    // }
    // .form__textarea{
    //   height: 170px;
    // }
  }
}


