.has-success{
  input, textarea{
    border: 1px solid $success;
  }
}
.has-error{
  input, textarea{
    border: 1px solid $error;
    background-color: rgba($error, .25);
    &:focus{
      background-color: transparent; 
      border: 1px solid $border-grey;
      ~ .help-block{
        display: none;
      }        
    }
  }
  .help-block{
    display: block;
  }
}
.help-block{
  text-align: center;
  color: $error;
  display: none;
  font-size: $font-size-small;
  margin: 0 0 20px;
}

.help-block-success{
  margin-top: 20px;
  color: $success;
}

.required{
  position: relative;
  &:after{
    content: '*';
    position: absolute;
    z-index: 1;
    top: -.5em;
    right: -.7em;
    font-weight: bold;
    color: $error;
  }
}