.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
  }
  &__close{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 8;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 3px;
      background-color: $grey;
    }
    &:after{
      transform: translate(50%, -50%) rotate(45deg);
    }
    &:before{
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
  &__form{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    max-width: 550px;
    // display: none;
  }
  .form{
    display: none;
    padding-left: 50px;
    padding-right: 50px;
  }
}