.news{
  margin-top: 35px;
  &__title{
    margin: 0 0 25px;
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $light-cyan; 
  }
  &__category{
    margin: 0 0 25px;
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-bigger;
    color: $light-cyan; 
  }
}

.news-item{
  margin-bottom: 50px;
  &__img{
    width: 100%;
    height: 0;
    padding-bottom: 65%;
    position: relative;
    margin-bottom: 20px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }    
  }
  &__date{
    color: $review-grey;
    @include font-family('Open Sans Semibold', normal, normal);
  }
  &__title{
    margin: 10px 0 10px;
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-bigger;
    color: $light-cyan; 
  }  
  &__excerpt{
    margin-bottom: 10px;
  }
  &__link{
    @include font-family('Open Sans Semibold', normal, normal);
    color: $blue; 
  }
}

.news-categories{
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
  &__title{
    margin: 0 0 15px;
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-bigger;
    color: $light-cyan; 
  }
  &__list{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  &__item{
    margin: 10px 0 15px;
  }
  &__link{
    @include font-family('Open Sans Semibold', normal, normal);
    color: $blue; 
  }
}