.pagination{
  margin-bottom: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__number{
    display: inline-block;
    padding: 10px 16px 11px 16px;
    margin: 0 3px;
    border-radius: 3px;
    color: $text-color;
    &:hover, &:focus, &:active{
      color: $blue;
    }
    &--current{
      background-color: $blue;
      color: $text-color-white;
      &:hover, &:focus, &:active{
        color: $text-color-white;
      }
    }
  } 
  &__arrow{
    display: inline-block;
    padding: 20px 20px;
    margin: 0 3px;
    border: 1px solid $light-grey;
    border-radius: 3px;    
    background-image: url(../img/pagination-next.png);
    background-repeat: no-repeat;
    background-position: center center;
    &--prev{
      transform: rotate(180deg);
    }
    // &:after{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   @include sprite($s-arrow-next);
    // }
  }
}
