.questions{
  margin-top: 35px;
  &__title{
    margin: 0 0 25px;
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $light-cyan; 
  }
}

.question{  
  margin-top: 10px;
  margin-bottom: 50px;

  &__title{
    margin: 30px 0 40px;
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-title;
    text-align: center;
  }
  &__subtitle{
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-biggest;
  }
  &__link{
    display: inline-block; 
  } 
  &__answer{
    background-color: $lightest-grey;
    padding: 10px 20px;
  } 
  &__person{
    @include font-family('Open Sans Semibold', normal, normal);
  }
  &__link-back{
    display: inline-block;
    margin-top: 20px;
  }
}