.cert{
  // margin-top: 90px;
  &__link-all-wrapper{
    text-align: right;
    margin-bottom: 40px;
  }
  &__link-all{
    &:before{
      content: '';
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: .5em;
      @include sprite($s-download);
    }
  }
  &__list{
    padding-left: 0;
    margin: 40px 0;
    list-style-type: none;
    columns: 2;
  }
  &__item{
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  &__link{
    display: inline-block;
    padding-left: 40px;
    color: $blue;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: .4em;
      left: 0;
      display: block;
      @include sprite($s-pdf);
    }
  }
}
