.characteristics{
  margin-top: 80px;
  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-subtitle;
    color: $text-black;
    margin: 0 0 15px;
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 55px;
      height: 2px;
      background-color: $green;
      margin-top: 10px;
    }
  }
  &__table{
    margin: 50px 0;
    padding: 0 50px;
  }
  &__line{
    display: flex;
    flex-wrap: wrap;
    &:nth-of-type(odd):not(:first-of-type){
      background-color: #d2d2d2;
    }
    &--head{
      background-color: #43424b;
      color: $text-color-white;
    }
  }
  &__parameter{
    padding: 5px 30px 5px 15px;
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
    &:after{
      content: '';
      display: block;
      height: 100%;
      width: 20px;
      background-color: $white;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__icon{
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    @include sprite($s-question);
    &:hover, &:focus {
      .characteristics__prompt{
        display: block;
      }
    }
  }
  &__prompt{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    transform: translateX(10px);
    background-color: $white;
    border: 1px solid $light-grey;
    padding: 5px 10px;
    display: none;
    font-size: $font-size-smaller;
    line-height: 1.333;
    width: 300px;
  }
  &__value{
    padding: 5px 15px;
    flex: 0 0 30%;
    max-width: 30%;
  }
}
