.facts{

  &__item{
    margin-top: 50px;
    margin-bottom: 40px;
    &:nth-of-type(even){
      .facts__text-wrapper{
        order: -1;
      }
      .facts__title:after{
        background-color: $green;
      }
    }
  }
  &__img-main{
    width: 100%;
    height: 0;
    padding-bottom: (430*100%/560);
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &__title{
    @include font-family('Open Sans Bold', normal, normal);
    font-size: $font-size-title;
    color: $text-black;
    margin: 20px 0;
    line-height: 1.05;
    &:after{
      content: '';
      display: block;
      background-color: $orange;
      height: 1px;
      width: 55px;
      margin-top: 20px;
    }
  }


  &__img{
    margin-top: 20px;
    width: 100%;
    height: 0;
    padding-bottom: (256*100%/266);
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
}
