.footer{
  border-top: 1px solid $header-border-grey;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
  }
  &__logo{
    margin: 20px 0 0;
  }
  &__nav{
    margin: 20px 0 0;
  }
  &__download{
    flex: 0 0 20%;
    margin: 20px 0 0;
  }
  &__info{
    flex: 0 0 22%;
    margin: 20px 0 0;
    text-align: right;
  }
}

   
.nav-footer{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    @include font-family('Open Sans Semibold', normal, normal);
  }
  &__link{
    font-size: $font-size-menu;
    color: $text-black;
  }
}

.download{
  max-width: 250px;
  line-height: normal;
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item{
    margin-bottom: 10px;
  }
  &__link{
    text-decoration: underline;
    color: $text-black;
    font-size: $font-size-menu;
    line-height: normal;
  }
}
.contact-info{
  text-align: left;
  max-width: 170px;
  font-size: $font-size-menu;
  color: $text-black;
  &__working-hours{
    font-size: $font-size-smallest;
  }
  &__link{
    color: $text-black;
  }
  &__tel{
    margin-bottom: 10px;
  }
  &__email{
    margin-top: 10px;
  }
}
.copyright{
  margin-top: 10px;
  font-size: $font-size-smaller;
  &__company{
    color: $text-black;
  }
  &__text{
    p{
      margin: 0.5em 0;
    }
  }
}