.globe{
  height: 700px;
  background-color: $globe-grey;
  background-image: url(../img/land.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  @include mq($from:xs, $until:md){
    height: 500px;
  }

  &__inner{
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__text{
    flex: 0 0 75%;
    max-width: 75%;
    text-transform: uppercase;
    @include font-family('Open Sans Regular', normal, normal);
    font-size: $font-size-title;
    color: $link-color;
    line-height: normal;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      font-size: $font-size-subtitle;
    }
  }
}
