.header{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // @include mq($from:xs, $until:md){
    //   flex-direction: column;
    // }
  }
  &__logo{
    margin: 10px 0;
    @include mq($from:xs, $until:md){
      flex: 1 1 50%;
      max-width: 50%;
    }
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:lg){
      display: block;
    }
    @include mq($from:xs, $until:md){
      order: 1;
      flex: 0 0 100%;
      margin-top: -10px;
    }
  }
  &__nav{
    margin: 10px 0;
    @include mq($from:xs, $until:lg){
      flex: 0 0 100%;
      order: 2;
    }
    @include mq($from:xs, $until:md){
      margin: 5px 0;
    }
  }
  &__info{
    margin: 10px 0 20px;
    text-align: right;
    @include mq($from:xs, $until:lg){
      margin: 10px 0 10px;
    }
    @include mq($from:xs, $until:md){
      // text-align: center;
      flex: 1 1 50%;
      max-width: 50%;
      // padding-left: 10px;
    }
  }
}

.logo{
  display: inline-block;
  max-width: 100%;
  &--header{
    width: 200px;
    height: auto;
  }
  &--footer{
    width: 200px;
    height: auto;    
  }
}

.language{
  @include font-family('Open Sans Semibold', normal, normal);
  font-size: $font-size-smaller;
  &__list{
    padding-left: 0;
    margin: 0 -5px 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    @include mq($from:xs, $until:md){
      // justify-content: center;
      margin-bottom: 0;
    }
  }
  &__item{
    &:last-of-type{
      a{
        border-right: none;
      }
    }
  }
  &__link{
    padding: 0 5px;
    border-right: 1px solid $black;
    color: $text-black; 
    &--active{
      color: $orange;
    }
  }
}

.telephone{
  @include font-family('Open Sans Semibold', normal, normal);
  font-size: $font-size-tel;
  @include mq($from:xs, $until:md){
    font-size: $font-size-smaller;
  }
  &__link{
    color: $text-black; 
  }
}

.call{
  font-size: $font-size-smaller;
  &__link{
    color: $text-black;
    text-decoration: underline;
    &:hover, &:focus, &:active {
      color: $orange;
    }  
  }
}