.header{
  border-bottom: 1px solid $header-border-grey;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    margin: 10px 0;
  }
  &__nav{
    margin: 10px 0;
  }
  &__info{
    margin: 10px 0 20px;
    text-align: right;
  }
}

.logo{
  display: inline-block;
  &--header{
    width: 200px;
    height: auto;
  }
  &--footer{
    width: 200px;
    height: auto;    
  }
}

.language{
  @include font-family('Open Sans Semibold', normal, normal);
  font-size: $font-size-smaller;
  &__list{
    padding-left: 0;
    margin: 0 -5px 10px 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  &__item{
    &:last-of-type{
      a{
        border-right: none;
      }
    }
  }
  &__link{
    padding: 0 5px;
    border-right: 1px solid $black;
    color: $text-black; 
    &--active{
      color: $orange;
    }
  }
}

.telephone{
  @include font-family('Open Sans Semibold', normal, normal);
  font-size: $font-size-tel;
  &__link{
    color: $text-black; 
  }
}

.call{
  font-size: $font-size-smaller;
  &__link{
    color: $text-black;
    text-decoration: underline;
    &:hover, &:focus, &:active {
      color: $orange;
    }  
  }
}