.nav{
  // &__wrapper{
  //   @include mq($from:xs, $until:lg){
  //     display: none;
  //     text-align: center;
  //   }    
  // }
  &__list{    
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  //   @include mq($from:xs, $until:lg){
  //     flex-wrap: wrap;
  //   }
  }
  &__item{
    margin: 0 10px;  
    // @include mq($from:xs, $until:lg){
    //   flex: 0 0 100%;
    // }
  }

  &__link{
    color: $text-black;
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-menu;
    text-transform: uppercase;

  //   @include mq($from:xs, $until:lg){
  //     padding: 7px;
  //   }
    &:after{
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background-color: transparent;
    }
    &:hover, &:focus {
      color: $orange;
      &:after{
        background-color: $orange;
      }
    }  
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:lg){
      display: block;
    }    
  } 
}

.hamburger{
  display: block;
  padding: 20px 6px;
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    background-color: $orange;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: $orange;
    }
    &:before{
      transform: translateY(-10px);
    }    
    &:after{
      transform: translateY(6px);
    }    
  }
}