.objects{
  padding-top: 50px;
  padding-bottom: 40px;
  &__title{
    text-align: center;
    @include font-family('Open Sans Light', normal, normal);
    font-size: $font-size-title;
    margin: 0 0 70px;
  }
  &__item{
    display: flex;
  }
  &__btn{
    margin-top: 40px;
    text-align: center;
  }
}

.object{
  width: 100%;
  background-color: $lightest-grey;
  position: relative;
  margin-bottom: 30px;
  // display: flex;
  // flex-direction: column;
  &__img{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &__link{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;   

    &:hover, &:focus {
      &:before{
        opacity: .5;
      }
      &:after{
        opacity: 1;
      }
    }
    &:before{
      content: '';
      @include transition();
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      opacity: 0;
    }
    &:after{
      content: '';
      @include transition();
      position: absolute;
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      @include sprite($s-loupe);
      opacity: 0;
    }
  }

  &__title{
    @include font-family('Open Sans Regular', normal, normal);
    font-size: $font-size;
    color: $link-color;
    text-transform: uppercase;
    margin: 0;
    line-height: normal;
  }
  &__info{
    // flex: 1 1 auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__city{
    position: relative;
    &:after{
      content: '';
      display: block;
      margin-top: 10px;
      width: 55px;
      height: 1px;
      background-color: $orange;
    }
  }
}

.object-modal{
  // display: none;
  z-index: 9;
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 780px;
  max-width: calc(100% - 20px);
  background-color: $white;
  transform: translate(-50%,-50%);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.26);

  &__close{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 8;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 1px;
      background-color: $orange;
    }
    &:after{
      transform: translate(50%, -50%) rotate(45deg);
    }
    &:before{
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
  &__inner{
    padding: 30px; 
    display: flex; 
    @include mq($from:xs, $until:md){
      display: block;
      padding: 10px;
    }
  }
  &__img-wrapper{
    flex: 0 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: flex-end;
    @include mq($from:xs, $until:md){
      padding: 10px 0 20px;
    }
  }
  &__img-main{
    width: 260px;
    height: 350px;
    margin-right: 15px;
    @include mq($from:xs, $until:md){
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__img-list{
    display: flex;
    flex-direction: column-reverse;
    @include mq($from:xs, $until:md){
      display: none;
    }
  }
  &__slide{
    width: 80px;
    height: 76px;
    margin-right: 15px;
    margin-top: 15px;
    @include transition();
    outline: none;
    &--active{
      outline-offset: -2px;
      outline: 2px solid $orange;
    }
    &:hover, &:focus {
      cursor: pointer;
      outline-offset: -2px;
      outline: 2px solid $orange;
    }

    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__text-wrapper{
    font-size: $font-size-smaller;
    position: relative;
    padding-bottom: 40px;
  }
  &__title{
    color: $orange;
    text-transform: uppercase;
    margin: 0 0 15px;
    @include font-family('Open Sans Regular', normal, normal);
    font-size: $font-size;
  }
  &__table{
    @include font-family('Open Sans Light', normal, normal);
    @include mq($from:xs, $until:md){
      display: none;
    }
  }
  &__line{
    display: flex;
    margin-bottom: 10px;
  }
  &__parameter{
    flex: 0 0 140px;
    color: $light-grey;
  }
  &__description-wrapper{
    color: $text-black;
  }
  &__description{
    margin: 10px 0 20px;
    @include font-family('Open Sans Light', normal, normal);
    color: $text-color;
  }
  &__nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__iframe{
    width: 100%;
  }
}

.object-navigation{
  display: flex;
  justify-content: space-between;
  &__link{
    &--prev{
      &:before{
        content: '←';
        margin-right: .4em;
      }
    }
    &--next{
      &:after{
        content: '→';
        margin-left: .4em;
      }
    }
  }
}
/* для wordpress */
.navigation{
  .screen-reader-text{
    display: none;
  }
  .nav-links{
    display: flex;
    justify-content: space-between;
  }
  .nav-previous{
    flex: 0 0 35%;
    a{
      &:before{
        content: '←';
        margin-right: .4em;
      }
    }
  }
  .nav-next{
    flex: 0 0 35%;
    a{
      &:after{
        content: '→';
        margin-left: .4em;
      }
    }
  }
}


.filter{
  text-align: center;
  margin-bottom: 50px;
  &__list{
    padding: 5px 40px;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    background-color: $lightest-grey;
    @include mq($from:xs, $until:md){
      flex-direction: column;
    }
  }
  &__item{
    margin: 0 10px;
    @include mq($from:xs, $until:md){
      margin-bottom: 15px;
    }
  }
  &__link{
    color: $text-black;
    @include font-family('Open Sans Semibold', normal, normal);
    font-size: $font-size-menu;
    text-transform: uppercase;
    &:after{
      content: '';
      display: block;
      width: 50%;
      height: 1px;
      background-color: transparent;
    }
    &:hover, &:focus {
      color: $orange;
      &:after{
        background-color: $orange;
      }
    } 

    &--active{
      color: $orange;
      &:after{
        content: '';
        display: block;
        width: 50%;
        height: 1px;
        background-color: $orange;
      }
    } 
  }
}