mixin objectsItem(title, img, alt, city)
  +e.item.col-xs-12.col-md-6.col-lg-3
    +b.ARTICLE.object
      +e.img
        img(src="img/objects/"+img+".jpg", alt= alt, title= alt)
        +e.A.link(href="#")
          svg(width='36', height='36')
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#loupe')
      +e.info
        +e.H3.title #{title} 
        +e.city #{city}

      +b.object-modal
        +e.A.close(href="#")
        +e.inner
          +e.img-wrapper
            +e.img-main
              img(src="img/objects/"+img+".jpg", alt= alt, title= alt)
            +e.img-list
              +e.slide
                img(src="img/objects/"+img+".jpg", alt= alt, title= alt)
              +e.slide
                img(src="img/objects/"+img+".jpg", alt= alt, title= alt)
          +e.text-wrapper
            +e.H3.title #{title}
            +e.table
              +e.line
                +e.parameter Город
                +e.value #{city}
              +e.line
                +e.parameter Использованный метраж                    
                +e.value 232м
            +e.description-wrapper Описание
              +e.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            +e.nav
              +b.navigation
                +e.link--prev(href="#") Предыдущий объект
                +e.link--next(href="#") Следующий объект