//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  @include font-family('Open Sans Regular', normal, normal);
  font-size: $font-size;
  line-height: $line-height;
}


a {
  color: $link-color;
  text-decoration: none;
  @include transition();

  &:hover, &:focus {
    // text-decoration: underline;
    text-decoration: none;
  }
}

button{
  @include transition();  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}



