include ../abstracts/bemto/bemto.pug


+b.SECTION.about
  //- 1
  +b.about-item--what-for
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about1.jpg", alt="img1", title="img1")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.title Для чего
            +e.text
              p Негорючая строительная ткань TEND обеспечивает долговечность теплоизоляции без потерь тепла и разрушения. 
              ul
                li Наша продукция защищает теплоизоляцию от увлажнения и механичеких повреждений.
                li Позволяет повысить на 30% теплозащитные свойства стен.    
  //- 2
  +b.about-item--fireproof
    .container
      .row.row-xs-bottom
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about2.jpg", alt="img2", title="img2")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.title Свойства
            +e.H2.subtitle Негорючий материал
            +e.text
              p TEND допущен для применения в вентилируемых фасадах без устройства противопожарных рассечек и без ограничений высоты здания с любым видом облицовки, включая облицовки из горючих и трудногорючих композитных панелей.
              p Исключаются риски возгорания при производстве сварочных работ на фасадах или крышах, так как не воспламеняется и не распространяет огонь.
              p Исключаются риски возгорания  в местах сопряжения с дымоходами каминов, печей и котлов.
    +b.about-item-gallery
      .container
        +e.H2.title Последствия использования горючих строительных тканей
        +e.gallery
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about2.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about3.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
  //- 3
  +b.about-item--airproof
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about3.jpg", alt="img3", title="img3")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.subtitle Высокое сопротивление воздухопроницанию
            +e.text
              p Ветрозащитный слой служит не только для предотвращения рисков механических повреждений теплоизоляционного слоя под воздействием ветровых нагрузок и его защиту в период эксплуатации, но и для предотвращения теплопотерь за счёт продольной фильтрации воздуха в утеплителе и между утеплителем и стеной.
    +b.about-item-gallery
      .container
        +e.H2.title Последствия отказа от ветрогидрозащитного слоя в вентилируемых фасадах
        +e.gallery
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about2.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about3.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
  //- 4
  +b.about-item--sustain
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about1.jpg", alt="img3", title="img3")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.subtitle Высокая механическая прочность
            +e.text
              p Не требует закрепления в большом количестве точек, так как структура ткани обеспечивает её высокую прочность в точках крепления.
              p Не изменяет свойств при многократном замораживании и оттаивании в условиях сурового климата России.
              p Не изменяет свойств под воздействием агрессивных факторов городской атмосферы.
    +b.about-item-gallery
      .container
        +e.H2.title Последствия применения мембран с низкой прочностью
        +e.gallery
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about2.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about3.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
  //- 5
  +b.about-item--waterproof
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about2.jpg", alt="img3", title="img3")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.subtitle Низкая водопроницаемость
            +e.text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    +b.about-item-gallery
      .container
        +e.H2.title Последствия отказа от гидроветрозащитного слоя
        +e.gallery
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about2.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about3.jpg", alt="img1", title="img1")
          +e.slide
            +e.img
              img(src="img/about1.jpg", alt="img1", title="img1")
  //- 6
  +b.about-item--ultraviolet
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about3.jpg", alt="img3", title="img3")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.subtitle Стойкость к УФ
            +e.text
              p Не изменяет свойств под действием прямых ультрафиолетовых лучей на протяжений не менее 50 лет.
  //- 7
  +b.about-item--eco
    .container
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img
            img(src="img/about1.jpg", alt="img3", title="img3")
        .col-xs-12.col-md-6
          +e.info
            +e.H2.subtitle Экологически чистый материал
            +e.text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.





