include ../abstracts/bemto/bemto.pug


+b.SECTION.about
  //- 1
  +b.about-item
    .container
      .row.row-xs-middle
        .col-xs-12.col-lg-6
          +e.img
            img(src="img/about1.jpg", alt="img1", title="img1")
        .col-xs-12.col-lg-6
          +e.info
            +e.H2.title О продукции
            +e.text
              p Негорючая строительная ткань TEND обеспечивает долговечность теплоизоляции без потерь тепла и разрушения. 
              ul
                li Наша продукция защищает теплоизоляцию от увлажнения и механичеких повреждений.
                li Позволяет повысить на 30% теплозащитные свойства стен свойства стен.
              p Ткань производится ООО "Парагон" с 2008 года. Компания является одним из ведущих производителей негорючих строительных тканей в России.
            +b.btn(href="page-production.html") Подробнее о продукции
  //- 2
  +b.about-item
    .container
      .row.row-xs-middle
        .col-xs-12.col-lg-6
          +e.img
            img(src="img/about2.jpg", alt="img2", title="img2")
        .col-xs-12.col-lg-6
          +e.info
            +e.H2.title Подстраховка от рисков рисков рисков
            +e.text
              ul
                li Горючие строительные ткани часто становятся причиной пожара. Негорючая ткань TEND предостерегает здаение от возгорания при строительстве и экспулатации.
                li Недостаточно прочная строительная ткань может порваться от ветра или резких смен температур. Это приводит к повреждению утеплителя и большим потерям тепла. Ткань TEND отличается повышенной прочностью материала.
            +b.btn(href="page-production.html") Подробнее
  //- 3
  +b.about-item
    .container
      .row.row-xs-middle
        .col-xs-12.col-lg-6
          +e.img
            img(src="img/about3.jpg", alt="img3", title="img3")
        .col-xs-12.col-lg-6
          +e.info
            +e.H2.title Есть все необходимые сертификаты
            +e.text
              p Наша продукция имеет все необходимые сертификаты и заключения, подтверждающие высокое качесвто и пожарную безопасность ткани.
            +b.btn(href="page-cert.html") Посмотреть сертификаты



