include ../abstracts/bemto/bemto.pug


+b.SECTION.banner
  .container
    +e.gallery
      //- 1
      +e.slide
        img(src="img/banner1.jpg", alt="slide1", title="slide1")
        +e.text-wrapper
          +e.H2.title Безопасность
          +e.text прежде всего
      //- 2
      +e.slide
        img(src="img/banner1.jpg", alt="slide1", title="slide1")
        +e.text-wrapper
          +e.H2.title Небезопасность
          +e.text прежде всего
      //- 3
      +e.slide
        img(src="img/banner1.jpg", alt="slide1", title="slide1")
        +e.text-wrapper
          +e.H2.title Опасность
          +e.text прежде всего

    +b.banner-icons
      +e.UL.list
        +e.item
        +e.item 
        +e.item
        +e.item
        +e.item 
        +e.item 

//- svg(width='30', height='30')
//-   use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#branch-cosmetics')