include ../abstracts/bemto/bemto.pug


+b.SECTION.cert
  .container
    +e.link-all-wrapper
      +e.link-all(href="#") скачать все сертификаты
    +e.UL.list
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на долговечность и определение физико-механических показателей (pdf, 25 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на определение паропроницанию и воздухопроницанию ткани TEND KM-0 (pdf 96 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Техническое Свидетельство о пригодности продукции для применения в строительстве на территории РФ (pdf 180 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Письмо заведующего центра противопожарных исследований ЦНИИСК им. В.А. Кучеренко Пестрицкого А.В. от 22.02.2011 (pdf 87 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Отчёт об испытаниях на пожарную опасность негорючей строительной ткани "TEND KM-0" проведёнными в ИЦ "СЗРЦ ТЕСТ" (pdf 750 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на долговечность и определение физико-механических показателей (pdf, 25 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на определение паропроницанию и воздухопроницанию ткани TEND KM-0 (pdf 96 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Техническое Свидетельство о пригодности продукции для применения в строительстве на территории РФ (pdf 180 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Письмо заведующего центра противопожарных исследований ЦНИИСК им. В.А. Кучеренко Пестрицкого А.В. от 22.02.2011 (pdf 87 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Отчёт об испытаниях на пожарную опасность негорючей строительной ткани "TEND KM-0" проведёнными в ИЦ "СЗРЦ ТЕСТ" (pdf 750 kb) 
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на долговечность и определение физико-механических показателей (pdf, 25 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Протокол испытаний на определение паропроницанию и воздухопроницанию ткани TEND KM-0 (pdf 96 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Техническое Свидетельство о пригодности продукции для применения в строительстве на территории РФ (pdf 180 kb) 
      +e.item
        +e.A.link(href="#", target="_blank") Письмо заведующего центра противопожарных исследований ЦНИИСК им. В.А. Кучеренко Пестрицкого А.В. от 22.02.2011 (pdf 87 kb)
      +e.item 
        +e.A.link(href="#", target="_blank") Отчёт об испытаниях на пожарную опасность негорючей строительной ткани "TEND KM-0" проведёнными в ИЦ "СЗРЦ ТЕСТ" (pdf 750 kb)  



