include ../abstracts/bemto/bemto.pug


+b.SECTION.characteristics
  .container
    +e.H2.title Технические характиеристики
    +e.table
      +e.line--head
        +e.parameter Параметр
        +e.value Значение
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07
      +e.line
        +e.parameter Сопротивление паропроницанию, Rn м2*ч*Па/мг 
          +e.SPAN.icon
            +e.prompt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        +e.value 0,07


