include ../abstracts/bemto/bemto.pug


+b.SECTION.clients
  .container
    +e.H2.title Наши клиенты
    .row
      //- 1
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client1.png", alt="client1", title="client1")
      //- 2
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client2.png", alt="client2", title="client2")
      //- 3
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client3.png", alt="client3", title="client3")
      //- 4
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client4.png", alt="client4", title="client4")
      //- 8
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client4.png", alt="client4", title="client4")
      //- 5
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client1.png", alt="client1", title="client1")
      //- 6
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client2.png", alt="client2", title="client2")
      //- 7
      .col-xs-12.col-md-6.col-lg-3
        +e.icon
          img(src="img/clients/client3.png", alt="client3", title="client3")
