include ../abstracts/bemto/bemto.pug


+b.SECTION.contacts
  .container
    +e.H3.title Представители торговой марки TEND® на территории Российской Федерации
    +e.map
      //- +b.map-text
      //-   +e.city Санкт-Петербург
      //-   +e.offices
      //-     +b.map-office 
      //-       p ООО «Парагон» 
      //-       p 191144, Санкт-Петербург, ул. Моисеенко, д.10 
      //-       p Телефон: +7 (812) 448-5968
      //-     +b.map-office 
      //-       p ООО «Энэкопром»
      //-       p 199026, Санкт-Петербург, 20-ая линия В.О., д. 5-7
      //-       p Телефон: +7 (812) 932-9372
      //-       p enekoprom@mail.ru

    +e.UL.offices
      +b.office-item
        +e.H3.title Северо-Западный регион
        +e.text
          p ООО «Парагон»
          p 191144, Санкт-Петербург, ул. Моисеенко, д.10
          p Телефон: +7 (812) 448-5968
          p
          p ООО «Энэкопром»
          p 199026, Санкт-Петербург, 20-ая линия В.О., д. 5-7
          p Телефон: +7 (812) 932-9372
          p enekoprom@mail.ru
      +b.office-item
        +e.H3.title Уральский федеральный округ
        +e.text
          p ООО "Фасад Комплект"
          p 620017 г.Екатеринбург ул. Фронтовых Бригад 15 оф. 27
          p Телефон: +7 (343) 372-3223 Факс: +7 (343) 378-4750
          p www.fkomplekt.ru
          p fk@fkomplekt.ru
      +b.office-item
        +e.H3.title Сибирский федеральный округ
        +e.text
          p ООО "СНАБ"
          p 630098, г. Новосибирск, ул. Тюменская, 10/1 офис 7
          p Телефон: +7 (383) 369-1570 Моб.: +7 (913) 934-2058 
          p www.snab-sfo.ru
          p snab.sfo@yandex.ru
      +b.office-item
        +e.H3.title Уральский федеральный округ
        +e.text
          p ООО "Фасад Комплект"
          p 620017 г.Екатеринбург ул. Фронтовых Бригад 15 оф. 27
          p Телефон: +7 (343) 372-3223 Факс: +7 (343) 378-4750
          p www.fkomplekt.ru
          p fk@fkomplekt.ru
      +b.office-item
        +e.H3.title Сибирский федеральный округ
        +e.text
          p ООО "СНАБ"
          p 630098, г. Новосибирск, ул. Тюменская, 10/1 офис 7
          p Телефон: +7 (383) 369-1570 Моб.: +7 (913) 934-2058 
          p www.snab-sfo.ru
          p snab.sfo@yandex.ru