include ../abstracts/bemto/bemto.pug


+b.SECTION.facts
  .container
    //- 1
    +e.item
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img-main
            img(src="img/about1.jpg", alt="fact1-main", title="fact1-main")
        +e.text-wrapper.col-xs-12.col-md-6
          +e.text-block
            +e.H3.title Постоянно поддерживаем складской запас
            +e.text У нас всегда есть достаточный заказ ткани TEND, чтобы в любой момент организовать оперативную доставку заказа нашим клиентам и не тратить время на производство необходимого количества ткани.
      .row
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about2.jpg", alt="fact1-1", title="fact1-1")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about3.jpg", alt="fact1-2", title="fact1-2")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about2.jpg", alt="fact1-3", title="fact1-3")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about3.jpg", alt="fact1-4", title="fact1-4")
    //- 2
    +e.item
      .row.row-lg-middle
        .col-xs-12.col-md-6
          +e.img-main
            img(src="img/about2.jpg", alt="fact2-main", title="fact2-main")
        +e.text-wrapper.col-xs-12.col-md-6
          +e.text-block
            +e.H3.title Ткань производится на современном оборудовании
            +e.text Негорючая строительная ткань TEND производится на новой, современной линии.
      .row
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about3.jpg", alt="fact2-1", title="fact2-1")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about1.jpg", alt="fact2-2", title="fact2-2")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about3.jpg", alt="fact2-3", title="fact2-3")
        .col-xs-12.col-md-6.col-lg-3
          +e.img
            img(src="img/about1.jpg", alt="fact2-4", title="fact2-4")