include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.inner

      +e.logo
        // Logo
        +b.A.logo--header(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.svg", alt="logo", title="logo", itemprop="logo")

      +e.hamburger
        +b.A.hamburger(href="#")
          span

      +e.nav
        // Nav
        +b.NAV.nav
          +e.UL.list
            +e.item 
              +e.A.link(href="page-production.html") Продукция
            +e.item 
              +e.A.link(href="page-objects.html") Объекты
            +e.item
              +e.A.link(href="page-cert.html") Сертификаты
            +e.item
              +e.A.link(href="page-about.html") Компания
            +e.item 
              +e.A.link(href="page-contacts.html") Контакты

      +e.info
        // Language
        +b.language
          +e.UL.list
            +e.item 
              +e.A.link--active(href="#") РУС
            +e.item 
              +e.A.link(href="#") ENG
        // Telephone
        +b.telephone
          +e.A.link(href="tel:+78124485968", target="_blank") +7 (812) 448-59-68
        // Call
        +b.call
          +e.A.link(href="#") заказать звонок








