include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_objects-item.pug


+b.SECTION.objects
  .container
    // Filter
    +b.filter
      +e.UL.list
        +e.item
          +e.A.link--active(href="#") Все
        +e.item 
          +e.A.link(href="#") Жилые комплексы
        +e.item 
          +e.A.link(href="#") Культурные объекты
        +e.item
          +e.A.link(href="#") Станции метро

    .row.row-xs-stretch
      //- 1
      +objectsItem('Высотный многофункциональный комплекс', 'object1', 'object1', 'г.Москва')
      //- 2
      +objectsItem('Высотный жилой коплекс "Континенталь"', 'object2', 'object2', 'г.Москва')
      //- 3
      +objectsItem('Элитный жилой дом', 'object3', 'object3', 'г.Санкт-Петербург')
      //- 4
      +objectsItem('Административное здание ОАО "АК Транснефть"', 'object4', 'object4', 'г.Санкт-Петербург')
      //- 5
      +objectsItem('Морской собор', 'object5', 'object5', 'г.Кронштадт')
      //- 6
      +objectsItem('Высотный жилой дом', 'object6', 'object6')
      //- 7
      +objectsItem('Элитный комплекс "Премьер палас"', 'object7', 'object7', 'г.Москва')
      //- 8
      +objectsItem('Клубный дом "Гранатный 6"', 'object8', 'object8', 'г.Москва') 

    +e.btn
      +b.btn--orange-border(href="#") Показать еще
