include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_objects-item.pug

+b.SECTION.objects
  .container
    +e.H2.title Реализованные объекты
    
    .row.row-xs-stretch
      //- 1
      +objectsItem('Высотный многофункциональный комплекс', 'object1', 'object2', 'г.Москва')
      //- 2
      +objectsItem('Высотный жилой коплекс "Континенталь"', 'object2', 'object1', 'г.Москва')
      //- 3
      +objectsItem('Элитный жилой дом', 'object3', 'object4', 'г.Санкт-Петербург')
      //- 4
      +objectsItem('Административное здание ОАО "АК Транснефть"', 'object4', 'object3', 'г.Санкт-Петербург')
      //- 5
      +objectsItem('Морской собор', 'object5', 'object6', 'г.Кронштадт')
      //- 6
      +objectsItem('Высотный жилой дом', 'object6', 'object5')
      //- 7
      +objectsItem('Элитный комплекс "Премьер палас"', 'object7', 'object8', 'г.Москва')
      //- 8
      +objectsItem('Клубный дом "Гранатный 6"', 'object8', 'object7', 'г.Москва')

    +e.btn
      +b.btn--orange(href="page-objects.html") Посмотреть все объекты
