include ../abstracts/bemto/bemto.pug


+b.SECTION.statistics
  .container
    +e.inner
      //- 1
      +e.item
        +e.figures >1000
        +e.text объектов реализовано
      //- 2
      +e.item
        +e.figures 8
        +e.text лет безупречной работы
      //- 3
      +e.item
        +e.figures 30 000
        +e.text квадратных метров ткани продано
      //- 4
      +e.item
        +e.figures 10 000
        +e.text счастливых клиентов
