<section class="about">
  <div class="about-item about-item--what-for">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about1.jpg" alt="img1" title="img1" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__title">Для чего</h2>
            <div class="about-item__text">
              <p>Негорючая строительная ткань TEND обеспечивает долговечность теплоизоляции без потерь тепла и разрушения. </p>
              <ul>
                <li>Наша продукция защищает теплоизоляцию от увлажнения и механичеких повреждений.</li>
                <li>Позволяет повысить на 30% теплозащитные свойства стен. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--fireproof">
    <div class="container">
      <div class="row row-xs-bottom">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about2.jpg" alt="img2" title="img2" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__title">Свойства</h2>
            <h2 class="about-item__subtitle">Негорючий материал</h2>
            <div class="about-item__text">
              <p>TEND допущен для применения в вентилируемых фасадах без устройства противопожарных рассечек и без ограничений высоты здания с любым видом облицовки, включая облицовки из горючих и трудногорючих композитных панелей.</p>
              <p>Исключаются риски возгорания при производстве сварочных работ на фасадах или крышах, так как не воспламеняется и не распространяет огонь.</p>
              <p>Исключаются риски возгорания  в местах сопряжения с дымоходами каминов, печей и котлов.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-item-gallery">
      <div class="container">
        <h2 class="about-item-gallery__title">Последствия использования горючих строительных тканей</h2>
        <div class="about-item-gallery__gallery">
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about2.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about3.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--airproof">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about3.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__subtitle">Высокое сопротивление воздухопроницанию</h2>
            <div class="about-item__text">
              <p>Ветрозащитный слой служит не только для предотвращения рисков механических повреждений теплоизоляционного слоя под воздействием ветровых нагрузок и его защиту в период эксплуатации, но и для предотвращения теплопотерь за счёт продольной
                фильтрации воздуха в утеплителе и между утеплителем и стеной.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-item-gallery">
      <div class="container">
        <h2 class="about-item-gallery__title">Последствия отказа от ветрогидрозащитного слоя в вентилируемых фасадах</h2>
        <div class="about-item-gallery__gallery">
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about2.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about3.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--sustain">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about1.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__subtitle">Высокая механическая прочность</h2>
            <div class="about-item__text">
              <p>Не требует закрепления в большом количестве точек, так как структура ткани обеспечивает её высокую прочность в точках крепления.</p>
              <p>Не изменяет свойств при многократном замораживании и оттаивании в условиях сурового климата России.</p>
              <p>Не изменяет свойств под воздействием агрессивных факторов городской атмосферы.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-item-gallery">
      <div class="container">
        <h2 class="about-item-gallery__title">Последствия применения мембран с низкой прочностью</h2>
        <div class="about-item-gallery__gallery">
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about2.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about3.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--waterproof">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about2.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__subtitle">Низкая водопроницаемость</h2>
            <div class="about-item__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-item-gallery">
      <div class="container">
        <h2 class="about-item-gallery__title">Последствия отказа от гидроветрозащитного слоя</h2>
        <div class="about-item-gallery__gallery">
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about2.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about3.jpg" alt="img1" title="img1" />
            </div>
          </div>
          <div class="about-item-gallery__slide">
            <div class="about-item-gallery__img">
              <img src="img/about1.jpg" alt="img1" title="img1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--ultraviolet">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about3.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__subtitle">Стойкость к УФ</h2>
            <div class="about-item__text">
              <p>Не изменяет свойств под действием прямых ультрафиолетовых лучей на протяжений не менее 50 лет.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item about-item--eco">
    <div class="container">
      <div class="row row-xs-middle">
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__img">
            <img src="img/about1.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          <div class="about-item__info">
            <h2 class="about-item__subtitle">Экологически чистый материал</h2>
            <div class="about-item__text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>