<section class="about">
  <div class="about-item">
    <div class="container">
      <div class="row row-lg-middle">
        <div class="col-xs-12 col-md-6">
          <div class="about-item__img">
            <img src="img/about1.jpg" alt="img1" title="img1" />
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-item__info">
            <h2 class="about-item__title">О продукции</h2>
            <div class="about-item__text">
              <p>Негорючая строительная ткань TEND обеспечивает долговечность теплоизоляции без потерь тепла и разрушения. </p>
              <ul>
                <li>Наша продукция защищает теплоизоляцию от увлажнения и механичеких повреждений.</li>
                <li>Позволяет повысить на 30% теплозащитные свойства стен свойства стен.</li>
              </ul>
              <p>Ткань производится ООО "Парагон" с 2008 года. Компания является одним из ведущих производителей негорючих строительных тканей в России.</p>
            </div>
            <a class="btn" href="page-production.html">Подробнее о продукции</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item">
    <div class="container">
      <div class="row row-lg-middle">
        <div class="col-xs-12 col-md-6">
          <div class="about-item__img">
            <img src="img/about2.jpg" alt="img2" title="img2" />
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-item__info">
            <h2 class="about-item__title">Подстраховка от рисков рисков рисков</h2>
            <div class="about-item__text">
              <ul>
                <li>Горючие строительные ткани часто становятся причиной пожара. Негорючая ткань TEND предостерегает здаение от возгорания при строительстве и экспулатации.</li>
                <li>Недостаточно прочная строительная ткань может порваться от ветра или резких смен температур. Это приводит к повреждению утеплителя и большим потерям тепла. Ткань TEND отличается повышенной прочностью материала.</li>
              </ul>
            </div>
            <a class="btn" href="page-production.html">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-item">
    <div class="container">
      <div class="row row-lg-middle">
        <div class="col-xs-12 col-md-6">
          <div class="about-item__img">
            <img src="img/about3.jpg" alt="img3" title="img3" />
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-item__info">
            <h2 class="about-item__title">Есть все необходимые сертификаты</h2>
            <div class="about-item__text">
              <p>Наша продукция имеет все необходимые сертификаты и заключения, подтверждающие высокое качесвто и пожарную безопасность ткани.</p>
            </div>
            <a class="btn" href="page-cert.html">Посмотреть сертификаты</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>