<section class="clients">
  <div class="container">
    <h2 class="clients__title">Наши клиенты</h2>
    <div class="row">
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client1.png" alt="client1" title="client1" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client2.png" alt="client2" title="client2" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client3.png" alt="client3" title="client3" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client4.png" alt="client4" title="client4" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client4.png" alt="client4" title="client4" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client1.png" alt="client1" title="client1" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client2.png" alt="client2" title="client2" />
        </div>
      </div>
      <div class="col-xs-6 col-lg-3">
        <div class="clients__icon">
          <img src="img/clients/client3.png" alt="client3" title="client3" />
        </div>
      </div>
    </div>
  </div>
</section>