<section class="objects">
  <div class="container">
    <!-- Filter-->
    <div class="filter">
      <ul class="filter__list">
        <li class="filter__item">
          <a class="filter__link filter__link--active" href="#">Все</a>
        </li>
        <li class="filter__item">
          <a class="filter__link" href="#">Жилые комплексы</a>
        </li>
        <li class="filter__item">
          <a class="filter__link" href="#">Культурные объекты</a>
        </li>
        <li class="filter__item">
          <a class="filter__link" href="#">Станции метро</a>
        </li>
      </ul>
    </div>
    <div class="row row-xs-stretch">
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object1.jpg" alt="object1" title="object1" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Высотный многофункциональный комплекс </h3>
            <div class="object__city">г.Москва</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object1.jpg" alt="object1" title="object1" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object1.jpg" alt="object1" title="object1" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object1.jpg" alt="object1" title="object1" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Высотный многофункциональный комплекс</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Москва</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object2.jpg" alt="object2" title="object2" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Высотный жилой коплекс &quot;Континенталь&quot; </h3>
            <div class="object__city">г.Москва</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object2.jpg" alt="object2" title="object2" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object2.jpg" alt="object2" title="object2" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object2.jpg" alt="object2" title="object2" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Высотный жилой коплекс &quot;Континенталь&quot;</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Москва</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object3.jpg" alt="object3" title="object3" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Элитный жилой дом </h3>
            <div class="object__city">г.Санкт-Петербург</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object3.jpg" alt="object3" title="object3" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object3.jpg" alt="object3" title="object3" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object3.jpg" alt="object3" title="object3" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Элитный жилой дом</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Санкт-Петербург</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object4.jpg" alt="object4" title="object4" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Административное здание ОАО &quot;АК Транснефть&quot; </h3>
            <div class="object__city">г.Санкт-Петербург</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object4.jpg" alt="object4" title="object4" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object4.jpg" alt="object4" title="object4" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object4.jpg" alt="object4" title="object4" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Административное здание ОАО &quot;АК Транснефть&quot;</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Санкт-Петербург</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object5.jpg" alt="object5" title="object5" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Морской собор </h3>
            <div class="object__city">г.Кронштадт</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object5.jpg" alt="object5" title="object5" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object5.jpg" alt="object5" title="object5" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object5.jpg" alt="object5" title="object5" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Морской собор</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Кронштадт</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object6.jpg" alt="object6" title="object6" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Высотный жилой дом </h3>
            <div class="object__city"></div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object6.jpg" alt="object6" title="object6" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object6.jpg" alt="object6" title="object6" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object6.jpg" alt="object6" title="object6" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Высотный жилой дом</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value"></div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object7.jpg" alt="object7" title="object7" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Элитный комплекс &quot;Премьер палас&quot; </h3>
            <div class="object__city">г.Москва</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object7.jpg" alt="object7" title="object7" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object7.jpg" alt="object7" title="object7" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object7.jpg" alt="object7" title="object7" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Элитный комплекс &quot;Премьер палас&quot;</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Москва</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="objects__item col-xs-12 col-md-6 col-lg-3">
        <article class="object">
          <div class="object__img">
            <img src="img/objects/object8.jpg" alt="object8" title="object8" />
            <a class="object__link" href="#">
              <svg width="36" height="36">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#loupe"></use>
              </svg>
            </a>
          </div>
          <div class="object__info">
            <h3 class="object__title">Клубный дом &quot;Гранатный 6&quot; </h3>
            <div class="object__city">г.Москва</div>
          </div>
          <div class="object-modal">
            <a class="object-modal__close" href="#"></a>
            <div class="object-modal__inner">
              <div class="object-modal__img-wrapper">
                <div class="object-modal__img-main">
                  <img src="img/objects/object8.jpg" alt="object8" title="object8" />
                </div>
                <div class="object-modal__img-list">
                  <div class="object-modal__slide">
                    <img src="img/objects/object8.jpg" alt="object8" title="object8" />
                  </div>
                  <div class="object-modal__slide">
                    <img src="img/objects/object8.jpg" alt="object8" title="object8" />
                  </div>
                </div>
              </div>
              <div class="object-modal__text-wrapper">
                <h3 class="object-modal__title">Клубный дом &quot;Гранатный 6&quot;</h3>
                <div class="object-modal__table">
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Город</div>
                    <div class="object-modal__value">г.Москва</div>
                  </div>
                  <div class="object-modal__line">
                    <div class="object-modal__parameter">Использованный метраж </div>
                    <div class="object-modal__value">232м</div>
                  </div>
                </div>
                <div class="object-modal__description-wrapper">Описание
                  <div class="object-modal__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="object-modal__nav">
                  <div class="navigation">
                    <a class="navigation__link navigation__link--prev" href="#">Предыдущий объект</a>
                    <a class="navigation__link navigation__link--next" href="#">Следующий объект</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>