<section class="statistics">
  <div class="container">
    <div class="statistics__inner">
      <div class="statistics__item">
        <div class="statistics__figures">>1000</div>
        <div class="statistics__text">объектов реализовано</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__figures">8</div>
        <div class="statistics__text">лет безупречной работы</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__figures">30 000</div>
        <div class="statistics__text">квадратных метров ткани продано</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__figures">10 000</div>
        <div class="statistics__text">счастливых клиентов</div>
      </div>
    </div>
  </div>
</section>