<section class="use">
  <div class="container">
    <h2 class="use__title">Применение</h2>
    <div class="use__text">Негорючая строительная ткань TEND может использоваться на трёх разных поверхностях.</div>
    <div class="use__pics">
      <div class="use-item">
        <div class="use-item__img"></div>
        <div class="use-item__text">Скатная кровля</div>
      </div>
      <div class="use-item">
        <div class="use-item__img"></div>
        <div class="use-item__text">Cтены с вентилируемыми фасадами</div>
      </div>
      <div class="use-item">
        <div class="use-item__img"></div>
        <div class="use-item__text">Каркасные стены</div>
      </div>
    </div>
  </div>
</section>